@import "./creativeItem";

.creative{
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $color2;
    color: $color3;

    .wrap-content{
        height: max-content;
        padding : 2rem 0 0rem 0;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title-container{
            flex: 0 0 auto;
            padding-left: 3rem;
            padding-bottom: 2.5rem;

            display: flex;
            justify-self: flex-start;
            align-self: flex-start;
            // background-color: red;
        }

    }
    .creative-container{
        width: 100%;
        
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
    }

    @media (max-width: 840px) {
        
        .title-container{
            padding-bottom: unset;
        }
    }
    
    
    @media (max-width: 750px) {
        
        .creative-container{
            padding: 0rem 0 2rem 0;
            justify-content: space-around;
            gap: 2rem;
        }
    }

    @media (max-width: 440px) {
        
        .title-container{
        }
    }
}