.homepage{

    .content-container{
        height: 100%;
        padding-top: 3rem;
    }
    
    .child-1{
        height: 100%;
        
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        
        background-color: $color1;
        
        position: relative;
        
        @media (max-width: 500px) {
            
        }
    }
    
    .left-content{
        width: 90%;
        height: 100%;
        padding: 2rem 0 2rem 0;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: $color2;

        @media (max-width: 850px) {
            width: 100%;
        }

        .content-overflow{
            width: 60%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            .title-container{
                width: 100%;
                display: flex;
            }

            .img-container{
                width: 100%;
                height: 80%;

                display: grid;
                place-items: center;
                background-color: red;

                .img-home-left{
                    width: 100%;
                    height: fit-content;
                }
            }
    
            .text-1{
                margin-bottom: 1.5rem;
                font-family: $fontKenoky;
                letter-spacing: .1em;
            }
        }
    }
    
    .child-2{
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 850px) {
            margin-top: 3rem;

            .content-overflow{
                width: 60% !important;
            }
        }

        .right-content{
            width: 100%;
            height: 100%;

            display: flex;
            justify-content: center;
            overflow: hidden;
            
            .content-overflow{
                width: 80%;
                height: 90%;
                
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .img-container{
                    width: 100%;
                    height: 80%;
                    aspect-ratio: 1/1;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 3rem;

                    img{
                        height: auto;
                        width: 100%;
                    }
                }

                .title-container{
                    width: 100%;
                    font-size: 2rem;
                }
                
            }
        }
    }
}