.nav{
    height: $navHeight;
    width: 100%;
    max-width: 100vw;
    
    position: fixed;
    z-index: 200;
    padding: 0 3rem 0 3rem;
    
    background-color: $color2;
    color: $color3;

    display: flex;
    justify-content: space-between;
    align-items: center;

    user-select: none;
    user-zoom: none;

    .logo{
        font-family: $fontBookman;
        font-weight: 600;
        font-size: 2rem;
    }

    .btn-nav, .menu-container-mobile{
        display: none;
    }

    .menu-container{
        width: max-content;
        height: max-content;
        
        display: flex;
        justify-content: space-around;
        align-items: center;

        .menu{
            width: 100%;
            height: 100%;
            padding: 0 2rem 0 2rem;
            
            display: flex;
            justify-content: center;
            align-items: center;
            
            font-family: $fontRedRose;
            letter-spacing: .05em;
            white-space: nowrap;
            
            &:hover{
                background-color: $color3;
                color: $color1;
            }
        }
    }

    @media (orientation: portrait) {
        .menu-container{
            display: none;

        }
        .btn-nav {
            display: block;
        }
        
        .menu-container-mobile{
            min-width: 100vw;
            min-height: 100vh;
            top: 0;
            left: 0;
            position: absolute;
            z-index: -1;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            background-color: $color1;
            
            .menu-mobile{
                width: 100%;
                padding: .5em 0 .5em 1.2rem;

                display: flex;
                justify-content: flex-start;
                align-items: center;

                font-family: $fontKenoky;
                font-size: 1.8rem;
                font-weight: bolder;

                transition: all .3s ease-out;

                &:hover{
                    background-color: $color3;
                    color: $color1;
                    padding-left: 3rem;
                    transform: scale(1.2);
                }
            }
        }
        .nav-active{

        }
    }

    @media (max-width: 600px) {
        padding: 0 2rem 0 2rem;
    }
}
