.nav{
    height: $navHeight;
    width: 100%;
    
    position: fixed;
    z-index: 200;
    
    background-color: $color2;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
        font-family: $fontBookman;
        font-weight: 600;
        font-size: 2rem;
    }

    .btn-nav{
        display: none;
        &-active{
            background-color: red;
        }
    }

    .menu-container{
        width: max-content;
        height: max-content;
        
        display: flex;
        justify-content: space-around;
        align-items: center;

        .menu{
            width: 100%;
            height: 100%;
            padding: 0 2rem 0 2rem;
            
            display: flex;
            justify-content: center;
            align-items: center;
            
            font-family: $fontRedRose;
            letter-spacing: .05em;
            white-space: nowrap;
            
            &:hover{
                background-color: $color3;
                color: $color1;
            }
        }
    }

    @media (max-width: 600px) {
        padding: 0 2rem 0 2rem;
    }

    @media (max-width: 1200px) {
        // padding: 0 2rem 0 2rem;
        .menu-container{

            &.menu-active{
                width: 100vw;
                height: 100vh;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                display: flex;
                flex-direction: column;
            
                background-color: $color1;
                justify-content: center;
            
                .menu{
                    height: 5vh;
            
                }
            }
        }

        .btn-nav{
            display: block;
        }

        .menu-container{
            // visibility: hidden;
            display: none;
        }
    }
    
}
