@import "./productItem";

.products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: $color2;
    color: $color3;
    // background-color: darkgrey;

    .content-container{
        width: 80%;
        flex: 1 1 auto;

        display: flex;
        justify-content: center;
        flex-direction: column;

        .top-products{
            flex: 1 0 auto;
            
            display: flex;
            align-items: center;
            font-weight: 900;
            // background-color: darkkhaki;
            // align-items: center;
            
            .title{
                margin-bottom: 1rem;
                font-weight: 800;
                font-style: italic;
                font-size: 4rem;
            }
        }
        .main-content{
            flex: 1 0 auto;
            
        }
    }

    @media (max-width: 840px) {
        min-height: max-content;
        padding-bottom: calc($navHeight + 1rem);
        padding-top: calc($navHeight + 1rem);

        .content-container{
            width: 90%;
        }
    }
}
