@import "./productItem";

.products{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $color2;

    .content-container{
        width: 80%;
        display: flex;
        flex-direction: column;

        .top-products{
            flex: 0 0 auto;
            min-height: 7vh;
            
            display: flex;
            // align-items: center;

            .title{
                margin-bottom: 1rem;
            }
        }
        .main-content{
            flex: 0 0 auto;
            
        }
    }

    @media (max-width: 840px) {
        min-height: max-content;
        padding-bottom: calc($navHeight + 1rem);

        .content-container{
            width: 90%;
        }
    }
}
