.list-container{
    height: max-content;
    
    display: flex;
    // gap: 10px;
    
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    border: 4px solid $color3;

    &::-webkit-scrollbar {
      display: none;
    }
}

.product-item{
    flex: 0 0 18rem;

    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    padding: .5rem;

    color: $color3;
    font-style: italic;
    // background-color: red;
    border: 1px solid $color3;
    
    figure{
        flex: 0 0 max-content;
        // height: 100%;
        width: 100%;
        // background-color: yellow;
        
        img{
            border-radius: 5px;
            border: 1px solid $color3;
            filter: drop-shadow(.1rem .1rem .4rem $color1);
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    
    .data{
        color: $color3;
        flex: 1 1 max-content;
        padding: 1rem .5rem 1rem .5rem;

        // background-color: red;
        .title{
            font-family: $fontBookman;
        }
        .price{
            margin-top: .2em;
            font-style: italic;
        }
    }
}
