.grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    height: 100%;

    @media (max-width: 850px) {
        grid-template-columns: 1fr;
    }
}

.box{
    width: 20rem;
    height: 10rem;
    background-color: purple;
}

.padding-container{
    padding-left: 3rem;
    padding-right: 3rem;
}

.img-container{
    overflow: hidden;
}

.text-md{
    font-size: 2rem;
}

.text-lg{
    font-size: 3rem;
    @media (max-width: 840px) {
        font-size: 2rem;
    }
    @media (max-width: 420px) {
        font-size: 1.5rem;
    }
    
}

.title{
    font-family: $fontKenoky;
}