// Font
@font-face {
    font-family: 'kenoky';
    src: url('/fonts/kenoky/KenokyLight.ttf');
}

$fontKenoky:'kenoky', arial;

// Properties
$navHeight:5rem;

// Colors
$color1 : #F3F0D7;
$color2 : #F7D59C;
$color3: #5E454B;