@import "./variables";
@import "./utils";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overscroll-behavior: none;
    max-width: 100vw;
    padding:0 !important;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        display: none;
    }
}


main{
    background-color: $color1;
    height: max-content;
    padding-top: $navHeight;
    
}

//FIXME
section{
    padding-top: $navHeight;
    min-height: 100vh;          // Fix me 

    background-color: $color1;

    @media (orientation: portrait) {
        min-height: max-content;
        padding-top: 0;
    }
}

@import "./nav";
@import "./homepage";
@import "./products";
@import "./about";
@import "./creative";
@import "./contact";