@import "./variables";
@import "./utils";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    // background-color: purple;
    max-width: 100vw;
    // min-height: 100vh;
    padding:0 !important;
}


main{
    background-color: red;
    height: max-content;
}

section{
    padding-top: $navHeight;
    min-height: 100vh;

    background-color: $color1;
}

@import "./nav";
@import "./homepage";
@import "./products";